@import "../../../../GlobalCss/GlobalCss.scss";
.FooterNgoCardMainSection{
// background-color: #e1e1e1;
font-family: $ComfertaFont;
    .FooterAddNgoSection {
            padding: 5em 0;
    .FooterAddNgoSectioncontainer{
        display: flex;
        flex-direction: column;
        gap: 2em;
        border: 1px solid black;
        // background-color: $primaryColor;
        // color: #fff;
        border-radius: 10px;
        padding: 3em 0;
        justify-content: center;
        align-items: center;
        .AddNgoContent {
            text-align: center;
        }

        .AddNgoButton {
            display: flex;
            gap: 3em;
        }
    }
        }
}