.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer {
  display: flex;
  flex-direction: row;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide {
  width: 30%;
  position: fixed;
  min-height: 100vh;
  background-color: antiquewhite;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC {
  padding: 2rem;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormLogo img {
  width: 20%;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormIntroContent {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormIntroContent h1 {
  font-size: 4rem;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormIntroContent p {
  width: 70%;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormCourosel {
  display: flex;
  justify-content: center;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormCourosel .swiper {
  width: 80%;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  padding: 1em;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody p {
  margin: 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody .DBDFProfileinfo {
  display: flex;
  margin: 0.8em 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody .DBDFProfileinfo .profilePic img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody .DBDFProfileinfo .NameAndNgoName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody .DBDFProfileinfo .NameAndNgoName .profielName h6 {
  margin: 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormLSide .DoationBasicDetailFormLSideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody .DBDFProfileinfo .NameAndNgoName .profielName p {
  margin: 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide {
  width: 70%;
  position: relative;
  left: 30%;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody {
  min-height: 100vh;
  display: flex;
  padding: 4em 0;
  flex-direction: column;
  align-items: center;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody h1 {
  margin: 2em 0 0;
  text-align: center;
  width: 55%;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm {
  margin: 3em 0 0 0;
  width: 60%;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm form .DBDFinputFields {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm form .DBDFinputFields label {
  font-weight: 600;
  padding-bottom: 0.5em;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm form .DBDFinputFields input {
  border-top: none;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  margin: 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm form .DBDFinputFields input:focus {
  outline: none;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm form .DBDFinputFields input::-webkit-outer-spin-button,
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm form .DBDFinputFields input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm form .DBDFSubmitbuttons {
  margin: 3rem 0 0 0;
}
.DoationBasicDetailFormMContainer .button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.DoationBasicDetailFormMContainer .button-85:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing-button-85 20s linear infinite;
          animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@-webkit-keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.DoationBasicDetailFormMContainer .button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}/*# sourceMappingURL=DonationBasicDetail.css.map */