.introMainComponets .IntroComponents {
  height: 80vh;
  margin: 0 10vw;
  display: flex;
  align-items: center;
  position: relative;
}
.introMainComponets .IntroComponents .IntroContentSide {
  font-family: "Fredoka One", cursive;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 5rem;
  margin: 0 0 0 1em;
}
.introMainComponets .IntroComponents .IntroContentSide h1 {
  font-family: "Fredoka One", cursive;
  width: 70%;
  font-size: 3vw;
  font-weight: 400;
}
.introMainComponets .IntroComponents .IntroContentSide p {
  font-size: 1vw;
  margin: 1em 0;
  width: 60%;
}
.introMainComponets .IntroComponents .IntroContentSide .IntroButtons {
  display: flex;
  gap: 3em;
}
.introMainComponets .IntroComponents .IntroContentSide .IntroButtons .DonateButtons {
  display: flex;
}
.introMainComponets .IntroComponents .IntroContentSide .IntroButtons .DiscoverButton {
  align-self: center;
}
.introMainComponets .IntroComponents .IntroContentSide .IntroButtons .DiscoverButton a {
  text-decoration: none;
  color: #28282d;
}
.introMainComponets .IntroComponents .IntroImageSide {
  display: flex;
}
.introMainComponets .IntroComponents .IntroImageSide .IntroMapImage {
  width: 30vw;
  margin-right: 3em;
}

@media (max-width: 1000px) {
  .IntroComponents {
    height: 60vh !important;
    margin-top: 50px;
    flex-direction: column;
  }
  .IntroComponents .IntroContentSide {
    width: 100%;
    display: flex;
    height: 60vh;
    margin: 0 0 0 0 !important;
    padding: 0 !important;
    text-align: center;
    justify-content: center;
  }
  .IntroComponents .IntroContentSide h1 {
    width: 80% !important;
    font-size: 4vw !important;
    align-self: center;
  }
  .IntroComponents .IntroContentSide p {
    align-self: center;
    font-size: 2vw !important;
  }
  .IntroComponents .IntroContentSide .IntroButtons {
    align-self: center;
    margin-top: 30px;
  }
}
@media (max-width: 580px) {
  .IntroComponents {
    flex-direction: column;
  }
  .IntroComponents .IntroContentSide {
    width: 100%;
    height: 20vh !important;
    margin: 150px 0 0 0 !important;
    padding: 0 !important;
    text-align: center;
  }
  .IntroComponents .IntroContentSide h1 {
    width: 80% !important;
    font-size: 4vw !important;
    align-self: center;
  }
  .IntroComponents .IntroContentSide p {
    align-self: center;
  }
  .IntroComponents .IntroContentSide .IntroButtons {
    align-self: center;
    margin-top: 30px;
  }
}
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.0823529412);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}/*# sourceMappingURL=Intro.css.map */