.SectionMainContainer {
    width: 100%;
    margin-top: 5em;
    .SectionContainer {
        // margin: 0vw 20vw;
        p {
            margin: 0 0 3vw 0;
        }
        .ServiceContent {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 3;
            column-gap: 3em;
            // display: flex;
            .SectionCards {
                grid-column: 1/3;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 2;

                column-gap: 2em;
                row-gap: 2em;

                .ServiceCardBoday {
                    // flex: 1;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                    padding: 1em 1em 0 1em;
                    border-radius: 10px;
                    flex-wrap: wrap;
                    width: 100%;

                    .serviceIcon {
                        lord-icon {
                            border: 1px solid black;
                            border-radius: 50%;
                            padding: 2px;
                            height: 50px;
                            width: 50px;
                            margin: 10px 0 ;
                        }
                    }
                }
            }

            .ServiceSectionImage {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1{
                    // font-size: ;
                    font-weight: 700;
                    // line-height: 1.3;
                }
                p{

                }
            }
        }
    }
}