.DSelectNgoFormMainContainer .DSelectNgoFormContainer {
  display: flex;
  flex-direction: row;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside {
  width: 30%;
  position: fixed;
  min-height: 100vh;
  background-color: antiquewhite;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC {
  padding: 2rem;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DSelectNgoFormLogo img {
  width: 20%;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DoationBasicDetailFormIntroContent {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DoationBasicDetailFormIntroContent h1 {
  font-size: 4rem;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DoationBasicDetailFormIntroContent p {
  width: 70%;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DoationBasicDetailFormCourosel {
  display: flex;
  justify-content: center;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DoationBasicDetailFormCourosel .swiper {
  width: 80%;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  padding: 1em;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody p {
  margin: 0;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody .DBDFProfileinfo {
  display: flex;
  margin: 0.8em 0;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody .DBDFProfileinfo .profilePic img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody .DBDFProfileinfo .NameAndNgoName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody .DBDFProfileinfo .NameAndNgoName .profielName h6 {
  margin: 0;
}
.DSelectNgoFormMainContainer .DSelectNgoFormContainer .DSelectNgoFormLside .DSelectNgoFormLsideC .DoationBasicDetailFormCourosel .DoationBasicDetailFormCouroselBody .DBDFProfileinfo .NameAndNgoName .profielName p {
  margin: 0;
}/*# sourceMappingURL=DSelectNgoForm.css.map */